dog_daycare.dtd

<!ELEMENT dog_daycare (owners+)>
<!ELEMENT owners (owner+)>
<!ELEMENT owner (ow_name,ow_dni,ow_contact,dogs)>
<!ELEMENT ow_name (#PCDATA)>
<!ELEMENT ow_dni (#PCDATA)>
<!ELEMENT ow_contact (email?,phone+)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT dogs (dog+)>
<!ELEMENT dog (dog_name,dog_age,dog_sex,dog_breed,dog_size,dog_weight,dog_height,medical_cond*,extras)>
<!ELEMENT dog_name (#PCDATA)>
<!ELEMENT dog_age (#PCDATA)>
<!ELEMENT dog_sex (#PCDATA)>
<!ELEMENT dog_breed (#PCDATA)>
<!ELEMENT dog_size (#PCDATA)>
<!ELEMENT dog_weight (#PCDATA)>
<!ELEMENT dog_height (#PCDATA)>
<!ELEMENT medical_cond (medical_cond_name?,medical_cond_treatment?)>
<!ELEMENT medical_cond_name (#PCDATA)>
<!ELEMENT medical_cond_treatment (#PCDATA)>
<!ELEMENT extras (ex_behavior,ex_chipnumber)>
<!ELEMENT ex_behavior (#PCDATA)>
<!ELEMENT ex_chipnumber (#PCDATA)>